//Author          : @arboshiki

html,
body,
#app{
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}
html{
    position: relative;
}
#app{

    &.header-fixed{
        padding-top: $navbar-height;
        .header{
            position: fixed;
            top: 0;
            z-index: $navbar-fixed-z-index;
        }
    }
    &.menu-fixed{
        .menu{
            position: fixed;
            top: $navbar-height;
            z-index: $menu-fixed-z-index;
            height: 100%;
            padding-bottom: $navbar-height + $menu-header-height + $menu-collapse-line-height + 40px;
            nav{
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
                &::-webkit-scrollbar{
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb{
                    border: 0;
                    background-color: rgba(255, 255, 255, 0.7);
                }
                &::-webkit-scrollbar-track{
                    background-color: $nav-menu-item-bg;
                }
                &:hover{
                    &::-webkit-scrollbar-thumb{
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        &.menu-collapsed{
            .menu{
                nav{
                    overflow: visible;
                }
            }
        }
    }
    &.ribbon-fixed{
        padding-top: $navbar-height + $ribbon-height;
        #ribbon{
            position: fixed;
            top: $navbar-height;
            z-index: $ribbon-fixed-z-index;
        }
    }
}

#main{
    position: relative;
    margin-left: $menu-width;
    @include transition(all $transition-duration);
}
#ribbon{
    width: 100%;
    white-space: nowrap;
    border-bottom: $ribbon-border-bottom;
    height: $ribbon-height;
    background-color: $ribbon-bg;
    padding: $ribbon-padding-vertical $ribbon-padding-horizontal;
    line-height: $ribbon-height - (2 * $ribbon-padding-vertical);
    .btn-ribbon{
        padding: 0;
        outline: 0;
        border: 1px solid transparent;
        background-color: transparent;
        color: $reload-btn-color;
        text-align: center;
        display: inline-block;
        font-size: $reload-btn-font-size;
        line-height: $reload-btn-size - 2px;
        @include square($reload-btn-size);
        &:hover{
            border: $reload-btn-hover-border;
            background-color: $reload-btn-hover-bg;
        }
        &:active{
            background-color: $reload-btn-active-bg;
        }
    }
    .breadcrumb{
        background-color: transparent;
        margin-bottom: 0;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 0;
        border-left: 1px solid $gray-lighter;
        >li{
            >a{
                font-size: $breadcrumb-item-font-size;
                color: $breadcrumb-item-color;
            }
            &.active{
                color: lighten($gray-light, 20%);
            }
        }
    }
}
#content{
    position: relative;
    background-color: $content-bg;
    padding: $content-div-padding;
}
.setting-box{
    position: fixed;
    width: $setting-box-width;
    min-height: $setting-box-min-height;
    top: $setting-box-top;
    right: -$setting-box-width;
    background-color: $setting-box-bg;
    z-index: $setting-box-z-index;
    color: $setting-box-color;
    @include transition(right $transition-duration);
    .btn-toggle{
        position: absolute;
        top: 0;
        text-align: center;
        cursor: pointer;
        left: -$setting-box-btn-toggle-size;
        width: $setting-box-btn-toggle-size;
        height: $setting-box-btn-toggle-size;
        line-height: $setting-box-btn-toggle-size;
        font-size: $setting-box-btn-toggle-font-size;
        color: $setting-box-btn-toggle-color;
        background-color: $setting-box-btn-toggle-bg;
        @include border-left-radius($setting-box-btn-toggle-border-radius);
    }
    .form-group{
        margin-bottom: 0;
    }
    .row-skin-options{
        .radio{
            text-align: center;
            width: $seeting-box-change-skin-size;
            height: $seeting-box-change-skin-size;
        }
        >div{
            padding-left: 2px;
            padding-right: 2px;
        }
        .setting-header{
            position: absolute;
            top: 0;
            left: 0;
            height: 25%;
            width: 100%;
            z-index: 2;
        }
        .setting-menu{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 30%;
            background-color: #FFF;
            z-index: 1;
        }
        [name="header-skin"]{
            left: -10000px;
            ~div{
                position: relative;
                width: 100%;
                height: 100%;
                background-color: darken(#FFF, 7%);
            }
            ~i{
                position: absolute;
                top: 0;
                height: 100%;
                left: 0;
                width: 100%;
                line-height: $seeting-box-change-skin-size;
                opacity: 0;
                font-size: 20px;
                color: #000;
                @include transition(opacity $transition-duration);
            }
            &:checked ~ i{
                opacity: 1;
            }
        }
        [value="0"]+div>.setting-header{
            background-color: $navbar-bg;
        }
        [value="header-cyan"]+div>.setting-header{
            background-color: $cyan-navbar-bg;
        }
        [value="header-green"]+div>.setting-header{
            background-color: $green-navbar-bg;
        }
        [value="header-brown"]+div>.setting-header{
            background-color: $brown-navbar-bg;
        }
    }
    .row-bg-options{
        .radio{
            height: 40px;
            height: 40px;
            text-align: center;
        }
        >div{
            padding-left: 2px;
            padding-right: 2px;
        }
        [name="body-bg"]{
            left: -10000px;
            +i{
                line-height: 40px;
                opacity: 0;
                font-size: 20px;
                color: #000;
                @include transition(opacity $transition-duration);
            }
            &:checked+i{
                opacity: 1;
            }
        }
    }
    &.opened{
        right: 0;
    }
}
//Media queries
@media screen and (max-width: $screen-sm-max){
    .header{
        .navbar-search{
            margin-left: 0;
            max-width: 2000px;
            input{
                display: none;
            }
            .btn{
                position: relative;
                margin-right: -15px;
                color: $navbar-items-color;
            }
            .btn-search{
                display: block;
                border-right: 1px solid darken($navbar-bg, 5%);
            }
        }
    }
    #app{
        &.menu-fixed{
            .menu{
                padding-bottom: $navbar-height + $menu-header-height + 40px;
                >nav{
                    >ul{
                        margin-right: -10px;
                        padding-right: 10px;
                        height: 100%;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }
            }
        }
    }
    .header{
        height: auto;
        .navbar-items,
        .navbar-items-2{
            height: $navbar-height;
        }
    }
    .menu{
        .menu-collapse-line{
            display: none;
        }
    }
    #main{
        margin-left: 0;
    }
}
#addEventModal{
    .modal-dialog{
        .btn-group-event-style{
            .btn{
                >i{
                    opacity: 0;
                }
                input:checked{
                    +i{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
