@import "../../../core/scss/variables";

.menu {
  //display: block;
  //position: absolute;
  left: 0;
  //top: $menu-margin-top;
  border-right: 1px solid $menu-border-color;
  //min-height: calc(#{"100% - " + $menu-margin-top});
  //z-index: $menu-z-index;
  width: $menu-width;
  background-color: $menu-bg;
  @include transition(all $menu-toggle-transition-duration);

  .menu-heading {
    border-radius: 0;
    border: none;
    position: relative;
    border-bottom: 1px solid $menu-border-color;
    height: $menu-header-height;
    padding-left: ($menu-width-collapsed - $menu-header-btn-size) / 2;
    padding-right: ($menu-width-collapsed - $menu-header-btn-size) / 2;

    .menu-header-buttons-wrapper {
      position: relative;
      padding-top: ($menu-header-height - $menu-header-btn-size) / 2;
      padding-bottom: ($menu-header-height - $menu-header-btn-size) / 2;

      .btn-menu-header-collapse {
        display: none;
      }

      .menu-header-buttons {
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
      }
    }

    .btn {
      text-align: center;
      padding: 0;
      line-height: $menu-header-btn-size;
      @include square($menu-header-btn-size);
    }
  }

  nav {
    ul {
      display: none;
      list-style: none;
      padding-left: 0;
      position: relative;
      margin-bottom: 0;
      @include transition(0.3s height);

      > li {
        position: relative;

        > a {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-decoration: none;
          outline: 0;
          color: $nav-menu-item-color;

          .menu-item-icon {
            margin-top: 2px;
            font-size: $nav-menu-item-icon-font-size;
            margin-right: $nav-menu-item-icon-margin-right;
          }

          .menu-item-toggle-icon {
            position: absolute;
            right: 15px;
            margin-top: 2px;
            font-size: $nav-menu-item-icon-font-size;
            @include transition(0.3s transform);
          }

          > div {
            display: inline-block;
          }

          .badge-wrapper {
            position: absolute;
            top: -4px;
            left: 24px;
          }

          &:hover {
            font-weight: 500;
            color: $nav-menu-item-hover-color;
            text-shadow: $nav-menu-item-hover-text-shadow;
          }
        }

        &.opened {
          > a {
            text-shadow: $nav-menu-item-opened-text-shadow;
            color: $nav-menu-item-hover-color;
          }
        }

        &.active {
          > a {
            text-shadow: $nav-menu-item-active-text-shadow;
            color: $nav-menu-item-active-color;
            background-color: $nav-menu-item-active-bg;
          }

          &:after {
            content: "";
            position: absolute;
            right: -1px;
            top: 50%;
            margin-top: -15px;
            height: 30px;
            width: 16px;
            border-width: 15px 10px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 10px solid $nav-menu-item-active-arrow-color;
          }
        }
      }
    }

    > ul {
      display: block;

      > li {
        > a {
          line-height: $nav-menu-item-line-height;
          border-bottom: 1px solid $nav-menu-item-border-color;
          padding: $nav-menu-item-padding-vertical $nav-menu-item-padding-horizontal;
          font-size: $nav-menu-item-font-size;
          background-color: $nav-menu-item-bg;
        }

        &.opened {
          border-right: $nav-menu-item-opened-border-right-width solid $nav-menu-item-opened-border-right-color;

          > a {
            border-bottom: 1px solid $nav-menu-item-border-color;

            .menu-item-toggle-icon {
              @include rotate(90deg);
            }
          }

          & + li {
            > a {
              border-top: 1px solid $nav-menu-item-border-color;
            }
          }
        }

        ul {
          > li {
            > a {
              line-height: $nav-menu-submenu-item-line-height;
              font-size: $nav-menu-submenu-item-font-size;
              background-color: lighten($nav-menu-submenu-item-bg, 5%);
              padding: $nav-menu-submenu-item-padding-vertical $nav-menu-submenu-item-padding-horizontal;

              .menu-item-toggle-icon {
                font-size: $nav-menu-submenu-item-icon-font-size;
              }
            }

            &.active {
              > a {
                text-shadow: none;
                color: $info;
              }
            }
          }
        }

        > ul {
          height: 0;
          display: block;
          overflow: hidden;

          > li {
            &:before {
              content: "";
              position: absolute;
              display: block;
              top: (2 * $nav-menu-submenu-item-padding-vertical + $nav-menu-submenu-item-line-height) / 2;
              width: $nav-menu-submenu-item-left-line-width;
              border-top: 1px $nav-menu-submenu-vertical-line-style $nav-menu-submenu-vertical-line-color;
              left: $nav-menu-submenu-vertical-line-left-offset;
              z-index: 2;
            }
          }

          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: $nav-menu-submenu-vertical-line-left-offset;
            border-left: 1px $nav-menu-submenu-vertical-line-style $nav-menu-submenu-vertical-line-color;
            z-index: 2;
          }
        }

        @include nav-menu-submenu(2);
      }
    }
  }

  .menu-collapse-line {
    text-align: center;
    height: $menu-collapse-line-height;
    background-color: $menu-collapse-line-bg;
    border-top: $menu-collapse-line-border-width solid $menu-collapse-line-border-color;
    border-bottom: $menu-collapse-line-border-width solid $menu-collapse-line-border-color;

    .menu-toggle-btn {
      display: inline;
      cursor: pointer;
      font-size: $menu-collapse-line-btn-font-size;
      line-height: $menu-collapse-line-height - $menu-collapse-line-border-width * 2;
      color: $menu-collapse-line-btn-color;
      @include transition(0.3s transform);

      &:hover {
        color: $menu-collapse-line-btn-hover-color;
        text-shadow: $nav-menu-item-hover-text-shadow;
      }
    }
  }
}
