@import "../../../core/scss/variables";

.header.navbar {

  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand {
    margin-left: 0 !important;
    text-align: center;
    position: relative;
    width: $navbar-brand-width;
    min-height: 2rem;
    font-size: $navbar-brand-font-size;

    .navbar-brand-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .navbar-search {
    margin-top: 0;
    margin-bottom: 0;
    max-width: $navbar-search-form-width;

    &,
    & > input {
      height: 100%;
    }

    input {
      outline: 0;
      border: none;
      padding-left: 1rem;
      background-color: transparent;
      width: 100%;
      min-height: 2rem;
      font-size: 1.4em;
      color: $navbar-items-color;
      @include placeholder($navbar-items-color);
    }

    .btn {
      border: none;
      border-radius: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: center;
      //line-height: $navbar-height;
      padding: 0 $navbar-links-padding-horizontal;
    }

    .btn-search,
    .btn-remove {
      display: none;
    }

    &.navbar-search-full {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 3;
      border-bottom: 1px solid $gray-lighter;
      background-color: $navbar-search-full-screen-bg;
      //height: $navbar-height;

      input {
        display: block;
        width: 100%;
        color: $navbar-search-full-screen-color;
        padding-right: 2 * 5px + 2 * $navbar-search-full-screen-btn-size;
        //@include placeholder($navbar-search-full-screen-color);
      }

      .btn {
        position: absolute;
        margin: 0;
        padding: 0;
        text-align: center;
        color: $navbar-search-full-screen-color;
        //@include square($navbar-search-full-screen-btn-size);
        line-height: $navbar-search-full-screen-btn-size;
        //top: ($navbar-height - $navbar-search-full-screen-btn-size) / 2;
      }

      .btn-search {
        border: none;
        right: 5px * 2 + $navbar-search-full-screen-btn-size;
      }

      .btn-remove {
        display: inline-block;
        right: 5px;
      }
    }
  }

  .navbar-items {
    order: 10;

    .user-actions {
      > li {
        > a {
          .user-avatar {
            @include square($navbar-user-image-size);
            //margin-top: ($navbar-height - $navbar-user-image-size ) / 2;
            //margin-bottom: ($navbar-height - $navbar-user-image-size ) / 2;
          }
        }

        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .navbar-items-2 {
    display: flex;
  }

  .navbar-nav {
    > li {
      > a:hover,
      > a:focus {
        //color: $navbar-items-hover-color;
        background-color: $navbar-items-hover-bg;
      }

      &.show > a,
      &.show > a:hover,
      &.show > a:focus {
        //color: $navbar-items-hover-color;
        background-color: fadeIn($navbar-items-hover-bg, 10%);
      }

      > a:active,
      &.show > a:active {
        background-color: fadeIn($navbar-items-hover-bg, 20%);
      }
    }

    .nav-link {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      line-height: 2rem;

      .navbar-icon {
        font-size: 1.15rem;
        vertical-align: middle;
      }

      .badge {
        position: absolute;
        right: 3px;
        top: 6px;
      }
    }
  }

  &.navbar-expand {
    .navbar-nav {
      .nav-link {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}

/*.header {
  width: 100%;
  float: none;
  margin-bottom: 0;
  //height: $navbar-height;
  background-color: $navbar-bg;

  .navbar-brand {
    margin-left: 0 !important;
    text-align: center;
    position: relative;
    width: $navbar-brand-width;
    font-size: $navbar-brand-font-size;

    .navbar-brand-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      //background-image: $navbar-brand-img-source;
      background-repeat: no-repeat;
    }

    img {
      margin-top: -8px;
    }
  }

  .navbar-search {
    margin-top: 0;
    margin-bottom: 0;
    max-width: $navbar-search-form-width;

    &,
    & > input {
      height: 100%;
    }

    input {
      outline: 0;
      border: none;
      padding-left: 15px;
      background-color: transparent;
      width: 100%;
      color: $navbar-items-color;
      //@include placeholder($navbar-items-color);
    }

    .btn {
      border: none;
      border-radius: 0;
      position: absolute;
      bottom: 0;
      padding: 0;
      right: 0;
      text-align: center;
      //line-height: $navbar-height;
      padding-left: $navbar-links-padding-horizontal;
      padding-right: $navbar-links-padding-horizontal;
    }

    .btn-search,
    .btn-remove {
      display: none;
    }

    &.navbar-search-full {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 3;
      border-bottom: 1px solid $gray-lighter;
      background-color: $navbar-search-full-screen-bg;
      //height: $navbar-height;

      input {
        display: block;
        width: 100%;
        color: $navbar-search-full-screen-color;
        padding-right: 2 * 5px + 2 * $navbar-search-full-screen-btn-size;
        //@include placeholder($navbar-search-full-screen-color);
      }

      .btn {
        position: absolute;
        margin: 0;
        padding: 0;
        text-align: center;
        color: $navbar-search-full-screen-color;
        //@include square($navbar-search-full-screen-btn-size);
        line-height: $navbar-search-full-screen-btn-size;
        //top: ($navbar-height - $navbar-search-full-screen-btn-size) / 2;
      }

      .btn-search {
        border: none;
        right: 5px * 2 + $navbar-search-full-screen-btn-size;
      }

      .btn-remove {
        display: inline-block;
        right: 5px;
      }
    }
  }

  .navbar-nav {
    margin: 0;

    > li {
      float: left;

      > a {
        //padding: 0 $navbar-links-padding-horizontal;
        //font-size: 14px;
        //color: $navbar-items-color;
        //line-height: $navbar-height;
      }

      > a:hover,
      > a:focus {
        //color: $navbar-items-hover-color;
        //background-color: $navbar-items-hover-bg;
      }

      &.open > a,
      &.open > a:hover,
      &.open > a:focus {
        //color: $navbar-items-hover-color;
        //background-color: fadeIn($navbar-items-hover-bg, 10%);
      }

      > a:active,
      &.open > a:active {
        //background-color: fadeIn($navbar-items-hover-bg, 20%);
      }
    }

    &.show-hide-menu {
      > li {
        > a {
          padding: 0;
          border: none;
          text-align: center;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          //line-height: $navbar-height;
          width: $navbar-menu-toggle-btn-width;

          &.active {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .navbar-items {
    order: 10;
  }

  .navbar-items {
    .user-actions {
      > li {
        > a {
          .user-avatar {
            //@include square($navbar-user-image-size);
            //margin-top: ($navbar-height - $navbar-user-image-size ) / 2;
            //margin-bottom: ($navbar-height - $navbar-user-image-size ) / 2;
          }
        }

        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .navbar-items-2 {
    .navbar-actions {
      > li {
        > a {
          .badge {
            position: absolute;
            right: 3px;
            top: 6px;
          }
        }
      }
    }

    .navbar-nav {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    .navbar-brand {
      width: $navbar-brand-width-mobile;

      .navbar-brand-img {
        background-image: $navbar-brand-img-source-mobile;
      }
    }

    .navbar-nav {
      > li {
        > a {
          padding: 0 $navbar-links-padding-horizontal-mobile;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .header {
    .navbar-items {
      float: none;
      border-bottom: 1px solid darken($navbar-bg, 5%);
      @include clearfix();
    }

    .navbar-items-2 {
      float: none;
      display: block;
      border: none;
      text-align: center;
      background-color: $navbar-bg;
    }
  }
  .dropdown-notifications {
    width: $dropdown-notifications-xxs-width !important;
  }
  .notification-tasks {
    right: -20px;
    left: auto;
  }
  .notification-messages {
    right: -115px;
    left: auto;
  }
  .notification-news {
    right: -70px;
    left: auto;
  }
  #app.header-fixed {
    //padding-top: 2 * $navbar-height;
  }

  #app.ribbon-fixed {
    //padding-top: 2 * $navbar-height + $ribbon-height;

    #ribbon {
      //top: 2 * $navbar-height;
    }
  }
}*/
